#portfolio {
  background: rgb(69, 229, 254);
  background: -moz-linear-gradient(90deg, rgba(69, 229, 254, 1) 0%, rgba(15, 149, 217, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(69, 229, 254, 1) 0%, rgba(15, 149, 217, 1) 100%);
  background: linear-gradient(90deg, rgba(69, 229, 254, 1) 0%, rgba(15, 149, 217, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#45e5fe", endColorstr="#0f95d9", GradientType=1);
  padding: 70px 0;

  .item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    margin: 15px;

    .link-portfolio {
      border-radius: 20px;

      .img-portfolio {
        transition: $transicaoPadrao;
      }

      .wrapper-info {
        position: absolute;
        bottom: -200px;
        background: #fff;
        width: 100%;
        padding: 30px 40px;
        transition: $transicaoPadrao;

        p {
          line-height: 0.4rem;
          font-size: 0.83rem;
          font-weight: $medium;
          color: $corPreta;

          strong {
            color: #000;
          }
        }
      }

      &:hover {
        .img-portfolio {
          filter: brightness(0.5);
        }

        .wrapper-info {
          bottom: 0;
        }
      }
    }

  }
  .owl-dots {
    margin-top: 30px !important;

    .owl-dot {
      span {
        width: 16px;
        height: 16px;
        margin: 5px 8px;
        background: #17a1de;
      }

      &.active {
        span {
          background: #7bd3ff;
        }
      }

      &:hover {
        span {
          background: #7bd3ff;

        }
      }
    }
  }

}