#calculadora {
  padding: 100px 0;
  position: relative;

  .container {
    .row {
      .calc-content {
        border-radius: 30px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);

        .form-calc {
          background-color: $corPrimaria;
          border-radius: 50px;
          font-size: 28px;
          transition: all 0.3s ease-in-out;
          color: $corBranca;
        }

        label {
          color: #4a4a4a;
          font-weight: $bold;
        }
      }
    }
  }

  .attachment-calc {
    width: auto;
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}