#banner {
  background-color: $corSecundaria;
  padding-top: 120px;

  .container {
    .row {
      h1 {
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 100px;
      }

      .circulo-destaque {
        width: 270px;
        height: 270px;
        background: $corPrimaria;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        right: 30%;
        top: 50%;
        transform: translate(0, -50%);

        .text-antes, .text-depois {
          font-size: 24px;
        }

        .text-depois {
          margin-bottom: 20px;
          line-height: 1rem;
        }

        .porcentagem {
          font-size: 112px;
          line-height: 6rem;

          span {
            font-size: 52px;
            top: -20px;
            position: relative;
          }
        }
      }

      .attachment-banner {
        width: auto;
        left: -125%;
        position: relative;
        z-index: 1;
      }

      .wrapper-formulario {
        background: #fff;
        border-radius: 30px;
        padding: 50px 30px 20px 30px;
        top: -35px;
        position: relative;

        h4 {
          font-size: 48px;
          line-height: 3rem;
        }

        .btn {
          &.form {
            background: #0e94d8;
            border-radius: 50px;
            font-size: 28px;
            transition: $transicaoPadrao;
            color: $corBranca;

            &:hover{
              background-color: $corSecundaria;
              color: $corPrimaria;
            }
          }
        }
      }
    }
  }
}