#newsletter {
  margin-bottom: -100px;
  margin-top: 150px;
  bottom: -60px;
  position: relative;
  z-index: 1;

  .row {
    background: #43289c;
    background: -moz-linear-gradient(90deg, #43289c 0%, #6e20b7 100%);
    background: -webkit-linear-gradient(90deg, #43289c 0%, #6e20b7 100%);
    background: linear-gradient(90deg, #43289c 0%, #6e20b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43289c", endColorstr="#6e20b7", GradientType=1);
    border-radius: 20px;

    input[type="text"], input[type="email"] {
      border-radius: 10px;
      border: none;
      height: 50px;
      padding: 0 20px;
      width: 100%;
    }

    .frase-newsletter, form {
      top: -90px;
      position: relative;

    }

    h3{
      text-transform: uppercase;
      font-size: 26px;
    }
  }
}

@media(max-width: 767px) {
  #newsletter {
    .btn {
      width: 100%;
    }
  }
}