#como-funciona {
  padding: 120px 0 250px 0;

  h2 {
    &:after {
      background: $corSecundaria;
      content: "";
      width: 100px;
      height: 8px;
      position: absolute;
      left: 50%;
      bottom: 25px;
      transform: translate(-50%, 0);
    }
  }

  .container {
    .row {
      .wrapper-attachment-como-funciona {
        background: $corSecundaria;
        padding-top: 10px;
        border-radius: 25px 25px 0 0;
        position: relative;
        height: 100%;
        width: 88%;
        left: 15px;


        .attachment-como-funciona {
          position: absolute;
          bottom: 0;
          width: 112%;
          left: -10px;
        }
      }
    }

    .wrapper-portfolio-content {
      padding: 25px;
    }
  }
}