#chamada {
  background-color: $corPrimaria;
  padding: 100px 0;
  overflow: hidden;

  .container {
    .row {
      h2 {
        font-size: 2.6rem !important;
      }

      p {
        color: $corBranca;
        font-weight: $semiBold;
        padding-right: 25px;
      }

      .attachment-chamada {
        position: absolute;
        top: -170px;
        width: auto;
      }
    }
  }
}