footer {
  background: $corTerciaria;
  position: relative;
  padding: 90px 0 10px 0;

  .wrapper-footer {
    z-index: 1;
    position: relative;
  }

  .logo-footer {
    img {
      width: auto;
      margin-bottom: 2rem;
      height: auto;
      object-fit: unset;
    }
  }

  .texto-footer {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .cerfificacoes-footer {
    img {
      width: 60px;
    }
  }

  h4 {
    font-size: 1.5rem !important;
    margin-bottom: 35px;
  }

  .links-uteis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    .menu-links-uteis-container {
      ul {
        list-style: none;
        padding: 0;

        li {
          a {
            color: $corBranca;
            transition: all .2s ease-in-out;
            line-height: 2.3rem;
            font-size: 0.79rem;

            &:hover {
              color: $corSecundaria;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: $corBranca;
    font-size: 0.79rem;

    a {
      color: $corBranca;
      transition: all .2s ease-in-out;

      &:hover {
        color: $corSecundaria;
        text-decoration: none;
      }
    }

    .fa-phone-alt {
      transform: rotate(45deg);
    }
  }

  .fundo-footer {
    left: 80%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 60%;
  }

  .footer-copyright-content {
    .row {
      #redes-sociais {
        a {
          margin: 0 8px;

          svg {
            font-size: 22px;
            color: $corBranca;
            transition: all .2s ease-in-out;
          }

          &:hover {
            svg {
              opacity: .4;
            }
          }
        }
      }

      .logo-cia {
        width: 80px !important;
      }
    }
  }

  .contatos-footer {
    padding: 25px 0 !important;

    a {
      text-decoration: none;
      color: #ffffff;
      transition: all 0.2s ease-in-out;
      font-weight: 400;
      top: -5px;
      position: relative;

      &:hover {
        color: #f2ea63;
      }
    }
    .icon-wrapper {
      background-color: #004263;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      display: inline-block;
      position: relative;
      top: 3px;

      svg {
        position: absolute;
        top: 50%;
        font-size: 18px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--corTerciaria);
      }

    }

    .redes-sociais {
      a {
        background-color: #004263;
        width: 28px !important;
        height: 28px;
        border-radius: 50%;
        position: relative;
        color: var(--corTerciaria);
        display: inline-block;
        text-align: center;
        top: 3px;

        &:hover {
          background: $corSecundaria;
        }

        svg {
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          color: #006396;
          font-size: 20px;
        }
      }
    }
  }


}