.custom-form-fields-pbo {
  display: inline-block;
  width: 45%;
  padding: 10px;
  margin-top: 10px;
}

/* .custom-form-fields-pbo+.custom-form-fields-pbo {
    border-top: 1px solid #eee;
} */
.custom-form-fields-pbo label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.custom-form-fields-pbo input[type=text],
.custom-form-fields-pbo input[type=email],
.custom-form-fields-pbo input[type=input],
.custom-form-fields-pbo select,
.custom-form-fields-pbo textarea {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.custom-form-fields-pbo textarea {
  height: 200px;
}

.custom-form-fields-pbo input[type=checkbox],
.custom-form-fields-pbo input[type=radio] {
  display: inline-block;
  margin-bottom: 5px;
}

.custom-form-fields-pbo input[type=checkbox] + label,
.custom-form-fields-pbo input[type=radio] + label {
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-item::before,
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon {
  display: none;
}

#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
  background: none;
  color: #00b9eb;
}

#wpadminbar a img {
  max-width: 50px;
  margin-top: 5px;
}

/*# sourceMappingURL=style.css.map */
