.btn {
  border: 0;

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }

  &.btn-whatsapp-topo {
    background-color: #0a882b;
    border-radius: 6px;
    font-family: $fontePadrao;
    padding: 10px;
    font-size: 16px !important;
    color: $corBranca;
    padding: 10px 18px !important;

    svg {
      font-size: 20px;
      top: 1px;
      position: relative;
      margin-right: 7px;
    }

    span {
      font-family: $fontePadrao;
    }
  }

  &.btn-primario {
    background: $corPrimaria;

    &.dark-hover {
      &:hover {
        border: 1px solid $corPrimaria !important;
        color: $corPrimaria !important;
      }
    }

    &:hover {
      background: transparent;
      border: 1px solid #fff;
      color: $corBranca;
    }


  }

  &.btn-secundario {
    border: 1px solid #fff;

    &:hover {
      background: $corPrimaria;
      color: $corBranca;
      border: 1px solid $corPrimaria;
    }
  }


}


.button_su {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
  z-index: 999999;

  &.button_whatsapp {
    box-shadow: none !important;

    &:hover {
      transform: none !important;
    }
  }

  &:hover {
    transform: translateY(-0.2em);
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.4);
  }

  .su_button_circle {
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
  }

  .explode-circle {
    animation: explode 0.4s forwards;
  }

  .desplode-circle {
    animation: desplode 0.4s forwards;
  }

  .button_su_inner {
    display: inline-block;
    color: #F4F4F4;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    transition: 400ms;
    text-decoration: none;
    padding: 12px 18px;
    text-transform: uppercase;

    &.primario {
      background: $corSecundaria;

      &:hover{
        color: $corBranca !important;
      }
    }
  }

  .button_text_container {
    position: relative;
    z-index: 10000;
  }

  &.secundario {
     .button_su_inner {
      background-color: $corPrimaria;

       &:hover{
         color: $corBranca !important;
       }
    }
  }
}

@keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(42, 53, 80, 0.2);
  }
  100% {
    width: 1000px;
    height: 1000px;
    margin-left: -500px;
    margin-top: -500px;
    background-color: $corPrimaria;
  }
}

@keyframes desplode {
  0% {
    width: 1000px;
    height: 1000px;
    margin-left: -500px;
    margin-top: -500px;
    background-color: $corPrimaria;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(129, 80, 108, 0.6);
  }
}