// PADRÕES

@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variaveis';
@import 'botoes';
@import '../../components/components.scss';

html {
  overflow-x: hidden !important;

  body {
    overflow-x: hidden !important;
    font-size: 0.97em;
    color: $corGeral;
    font-weight: 400;
    font-family: $fontePadrao;
    padding-right: 0 !important;

    strong {
      color: $corPrimaria;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $fontePadrao;
      color: $corGeral;
    }

    h1 {
      font-size: 4.00em;
    }

    h2 {
      font-size: 2.50em;

      &.titulo-saindo-primario {
        top: -50px;
        position: relative;
        text-transform: uppercase;
        font-weight: 900;
        color: #ffae00;
        font-size: 54px;

        .direito {
          right: 40px;
        }
      }

      &.titulo-saindo-secundario {
        top: -98px;
        position: relative;
        text-transform: uppercase;
        font-weight: 900;
        color: #3b2385;
        font-size: 54px;
      }

      &.tit-grande {
        text-transform: uppercase;
        font-weight: 900;
        color: #a6a6a6;
        font-size: 54px;
        margin-bottom: 25px;
      }
    }

    h3 {
      font-size: 2.00em;
    }

    h4 {
      font-size: 1.75em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: .75em;
    }

    blockquote {
      font-style: oblique;
    }

    p,
    span {
      font-family: $fontePadrao;
      font-size: 0.97em;
      line-height: 25px;
      font-weight: 500;
    }

    a {
      &:hover {
        text-decoration: none !important;
      }
    }

    form {
      margin-block-end: 0;
      margin-bottom: 0;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    img {
      width: 100%;
      object-fit: contain;
      height: auto;
    }

    .duplicate {
      &:before {
        content: attr(title);
        display: block;
        font-weight: 700;
        top: 30px;
        position: relative;
        font-size: 110%;
        opacity: .1;
      }
    }

    #formularioContato {
      .captcode {
        background: #fff;
        display: flex;
        border-radius: 5px;
        height: 40px;

        img {
          width: 88px;
          margin: 0 auto;
          display: block;
        }

        .refresh-captcha {
          position: absolute;
          right: 46px;
          top: 9px;
        }

      }
    }

    #voltarTopo {
      background-color: $corPrimaria;
      width: 45px;
      height: 45px;
      text-align: center;
      border-radius: 4px;
      position: fixed;
      bottom: 18px;
      left: 18px;
      transition: background-color .3s, opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      cursor: pointer;
      box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);
      -webkit-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);
      -moz-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);

      &:after {
        content: "\f062";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900 !important;
        font-size: 1.3rem;
        line-height: 45px;
        color: #fff;
      }

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }

    .botao-lateral-wrapper {
      position: fixed;
      top: 60%;
      right: 30px;
      transform: translate(0, -50%);
      z-index: 2;

      .botao-lateral {
        a {
          padding-top: 2px;
          border-radius: 50px;
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center;
          cursor: pointer;
          color: #fff;
          font-size: 30px;
          transition: all 0.3s ease 0s;
          text-decoration: none;
          margin-bottom: 5px;
          background-color: $corPrimaria;
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
          width: 75px;
          height: 75px;


          svg {
            font-size: 40px;
            color: #f3eb63;
            top: 43%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
          }

          &:hover {
            box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }


    #pagina {
      margin-top: 100px;

      p {
        color: #3d3d3d;
      }
    }

    #contato {
      .wrapper-contato {
        margin-bottom: 5px;

        svg {
          background: $corPrimaria;
          width: 28px !important;
          height: 28px;
          padding: 6px;
          border-radius: 50%;
          margin-right: 10px;
        }

        a, span {
          color: $corTerciaria;
          font-size: 18px !important;
          top: -6px;
          font-weight: 400;
          position: relative;
          transition: all .3s ease;
        }

        a {
          &:hover {
            color: $corPrimaria !important;
          }
        }

      }
    }

    a {
      &:hover {
        color: $corPrimaria;
      }
    }

    .captcode {
      background: $corBranca;
      display: flex;
      box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.12);
      border-radius: 50px;
      height: 50px !important;

      img {
        width: 88px;
        margin: 0 auto;
        display: block;
      }
    }

    .msgs-formulario {
      margin-top: 20px;

      .close {
        line-height: 0 !important;
        padding: 10px !important;
      }
    }

    .fw-regular {
      font-weight: $regular !important;
    }

    .fw-medium {
      font-weight: $medium !important;
    }

    .fw-semi-bold {
      font-weight: $semiBold !important;
    }

    .fw-bold {
      font-weight: $bold !important;
    }

    .fw-extra-bold {
      font-weight: $extraBold !important;
    }

    .fw-black {
      font-weight: $black !important;
    }

    .text-primario {
      color: $corPrimaria !important;
    }

    .text-secundario {
      color: $corSecundaria !important;
    }
    .bg-primario{
      background-color: $corPrimaria;
    }
    .bg-secundario{
      background-color: $corSecundaria;
    }

  }


}

.truncate2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.truncate6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.bs-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bs-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bs-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bs-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bs-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bs-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

// NOVOS

.p-190 {
  padding: 190px 0;
}

.p-90 {
  padding: 90px 0;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-210 {
  margin-top: 210px;
}

.my-130 {
  margin: 130px 0;
}

ul {
  &.pagination {
    li {
      &.page-item {
        .page-link {
          color: $corPrimaria;
          background-color: transparent;

          &:hover {
            background-color: $corPrimaria;
            color: $corSecundaria;
          }
        }

        &.active {
          .page-link {
            background-color: $corPrimaria;
            border-color: $corSecundaria;
            color: $corSecundaria;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

:focus, button:focus, input:focus, textarea:focus, a:focus, select:focus {
  outline: none !important;
}

.hr-tracejado {
  border-top: 1px dashed #3d3d3d;
  margin: 50px 0;
}

.text-md-left.texto-localidade p {
  max-width: 650px !important;
}

.btn.btn-primario.dark-hover.bg-hover:hover {
  background: $corSecundaria !important;
  color: $corBranca !important;
  border-color: transparent !important;
}

section #slide-bootstrap .carousel-indicators li {
  height: 10px;
  width: 10px;
  background-color: $corSecundaria;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 55px;
  color: $corSecundaria;
}

.carousel-control-prev-icon:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  font-size: 55px;
  color: $corSecundaria;
}

input.form-control {
  border: none !important;
  box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  height: 50px !important;
  padding: 0 30px;
}

textarea {
  border: none !important;
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.12);
  border-radius: 25px !important;
  padding: 10px 30px !important;

}

.acf-map {
  width: 100% !important;
  height: 400px !important;
  border: #ccc solid 1px !important;
  margin: 20px 0 !important;
}

// Fixes potential theme css conflict.
.acf-map img {
  max-width: inherit !important;
}

::-webkit-input-placeholder { /* Edge */
  color: #aaaaaa !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaaaaa !important;
}

::placeholder {
  color: #aaaaaa !important;
}

.form-control:focus {
  box-shadow: 5px 8px 17px 0 rgba(0, 0, 0, 0.2) !important;
}
.modal-content {
  border-radius: 30px;
  overflow: hidden;

  .btn.form {
    background: #0e94d8;
    border-radius: 50px;
    font-size: 28px;
    transition: $transicaoPadrao;
    color: #ffffff;

    &:hover{
      background-color: $corSecundaria;
    }
  }
}
.modal {
  z-index: 99999999999;
}
