@media(max-width: 767px) {
  section {
    &#topo-da-pagina {
      padding-top: 85px;

      .img-topo {
        width: 70%;
        margin: 0 auto;
        display: block;
      }

      .titulo-topo, .breadcrumbs {
        text-align: center !important;
      }

    }
  }
  #resultados {
    img {
      position: relative !important;
      width: 100% !important;
      margin-bottom: 80px;
    }

    .titulo-saindo-primario {
      text-align: center !important;
      color: $corSecundaria;
    }

    p {
      text-align: justify;
    }

    .button_su {
      width: 100%;
    }
  }


  html body h2.tit-grande {
    font-size: 32px !important;
  }
  #call-to-action .seta-cta {
    display: none !important;
  }
  #call-to-action h3 {
    margin-bottom: 25px !important;
  }

  #porque-empresa {
    .fundo-esquerda, .fundo-direita {
      display: none !important;
    }

    .img-porque-empresa {
      left: auto !important;
      width: 100% !important;
      margin-bottom: 20px;
    }

    h2 {
      text-align: center !important;
      margin-bottom: 20px;
    }

    p {
      text-align: justify !important;
    }

    .button_su {
      width: 100%;
      margin-top: 40px !important;
    }
  }
  #quem-somos {
    .row {
      flex-direction: column-reverse;
    }

    img {
      position: relative !important;
      width: 100% !important;
      margin-bottom: 40px;
    }

    .titulo-saindo-primario {
      color: $corSecundaria;
    }

    p {
      text-align: justify;
    }

    .button_su {
      width: 100%;
    }
  }
  #nossos-numeros {
    .numeros .conteudo-numeros .item-numero .count, .numeros .conteudo-numeros .item-numero .plus {
      font-size: 42px !important;
    }

    .numeros .conteudo-numeros .descricao-numero {
      font-size: 20px !important;
      text-align: center !important;
    }

    .titulo-saindo-secundario {
      top: -78px !important;
      font-size: 32px !important;
      text-align: center !important;
    }
  }
  #newsletter {
    .row {
      &.px-5 {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .titulo-saindo-secundario {
        font-size: 40px !important;
        top: -86px !important;
        text-align: center !important;
      }

      h3 {
        font-size: 20px !important;
        text-align: center !important;
      }

      input[type=text], input[type=email] {
        margin-bottom: 15px !important;
      }
    }
  }
  .titulo-saindo-primario {
    font-size: 42px !important;
    text-align: center !important;
  }
  .slides {
    height: auto !important;

    img {
      height: auto !important;
    }

    h2 {
      font-size: 20px !important;
      padding: 5px !important;
      text-align: center !important;
      margin-bottom: 5px !important;
      line-height: 26px !important;
    }

    .slide-content {
      top: -45px !important;
    }

    .button_su a {
      font-size: 13px !important;
      text-align: center !important;
      padding: 8px !important;
    }

    .button_su {
      text-align: center !important;
      margin: 0 auto !important;
      display: block !important;
      width: 70% !important;
    }

    .carousel-item .container h4 p strong {
      font-size: 1.2rem !important;
    }

    .carousel-item .container h4 p {
      font-size: 14px !important;
      text-align: center !important;
      line-height: 22px !important;
    }
  }
  p {
    text-align: justify !important;
  }

  #equipe {
    max-height: unset !important;

    .owl-dots {
      top: 40px !important;
    }

    .owl-carousel .owl-item img {
      width: 80% !important;
      margin: 0 auto !important;
    }

    .equipe-wrapper h3 {
      text-align: center !important;
    }

    .equipe-wrapper .col-md-7 {
      text-align: center !important;
    }

    .titulo-saindo-primario {
      text-align: center !important;
      width: 100% !important;
      top: -38px;
    }
  }
  #cta-e-form {
    .cta-servico h2 {
      font-size: 26px;
      text-align: center !important;
    }

    .button_su {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  #porque-ter-o-servico {
    h2 {
      text-align: center;
    }
  }
  #case-de-sucesso {
    max-height: unset !important;
    margin-bottom: 100px !important;
    padding-bottom: 50px !important;

    .titulo-saindo-primario {
      top: -38px !important;
    }
  }
  #archive-portfolio {
    .btn-cat {
      white-space: nowrap !important;
    }

    .col-12 {
      display: block !important;
      text-align: center !important;
    }
  }
  .portfolio-home-link h3 {
    font-size: 20px !important;
    text-align: center !important;;
  }
  section#blog .conteudo-blog .link-imagem-post figure img {
    margin-bottom: 20px;
  }
  section#blog h1 {
    text-align: center !important;
  }
  .form-servico {
    margin-bottom: 35px;
  }

  .botao-lateral-wrapper {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 99999;

    .botao-lateral {
      a {
        width: 45px !important;
        height: 35px !important;

        svg {
          font-size: 20px !important;
        }

        &:hover {
          width: 50px !important;
        }
      }
    }
  }
}


@media (max-width: 990px) {
  #menu-secundario {
    height: 80px;

    .navbar-brand {
      img {
        width: 200px;
        position: relative;
        top: 2px;
      }
    }

    .navbar-desktop {
      display: none;
    }

    &.menu_sticky {
      .navbar-brand {
        img {
          width: 180px !important;
          top: -5px;
        }
      }
    }
  }


}