.tres-colunas .acf-repeater tr.acf-row:not(.acf-clone) {
    display: inline-block !important;
    width: 32% !important;
    margin-right: 15px;
    border-left: 1px solid #dfdfdf;
}

.tres-colunas .acf-repeater tr.acf-row:not(.acf-clone) td.acf-fields {
    width: 100%;
}