#diferenciais {
  margin: 110px 0;

  .container {
    .row {
      .col-md {
        padding: 30px;

        h4 {
          font-size: 1.5rem;
          padding: 10px;
        }

        .attachment-diferenciais {
          width: auto;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}