#depoimentos {
  padding: 0 0 80px 0;
  position: relative;
  overflow: hidden;

  .container {
    .row {
      .aspas-depoimentos {
        width: auto;
        margin-right: 60px;
        top: -20px;
        position: relative;
      }

      h2 {
        font-size: 100px;
        line-height: 5.6rem;
      }

      .owl-carousel {
        .item {
          .attachment-depoimento {
            border-radius: 100px;
            width: 150px !important;
            height: 150px;
            margin: 0 auto;
            position: relative;
            bottom: -75px;
          }

          .wrapper-depoimento-content {
            background: #fff;
            padding: 100px 50px 30px 50px;
            border-radius: 30px;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
            margin: 10px;

            .depoimento {
              font-size: 1rem;
            }

            h5 {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

  .owl-dots {
    margin-top: 30px !important;

    .owl-dot {
      span {
        width: 16px;
        height: 16px;
        margin: 5px 8px;
        background: #17a1de;
      }

      &.active {
        span {
          background: $corBranca;
        }
      }

      &:hover {
        span {
          background: #7bd3ff;

        }
      }
    }
  }

  .circulo-depoimentos-antes, .circulo-depoimentos-depois {
    width: auto;
    position: absolute;
  }

  .circulo-depoimentos-antes {
    left: -160px;
    bottom: -300px;
  }

  .circulo-depoimentos-depois {
    right: -60px;
    top: -220px;
  }

}