#secoes-alternadas {
  padding: 100px 0;

  .container {
    .row {
      padding: 80px 0;

      .numero-secao {
        width: 65px;
        height: 65px;
        text-align: center;
        border-radius: 50px;
        font-size: 30px;
      }

      .wrapper-attachment-secoes-aternadas {

        .attachment-secoes-aternadas {
          width: auto;
        }

        &:after {
          content: '';
          width: 330px;
          height: 330px;
          position: absolute;
          z-index: -1;
          border-radius: 50%;
          margin-left: -31px;
        }

        &.afbg-primario {
          &:after {
            background-color: $corPrimaria;
          }
        }

        &.afbg-secundario {
          &:after {
            background-color: $corSecundaria;
          }
        }
      }
    }
  }
}